

body
{
    background-image: url('kunquat.svg');
    background-repeat: no-repeat;
    background-size: 10em auto;
    background-position: right 1em bottom 0;
    background-attachment: fixed;
    margin: 2em 10%;
    font-family: sans-serif;
}

p
{
    text-align: justify;
}
p.console
{
    max-width: 100%;
    background-color: #ffc;
    padding: 0.5em;
    border: solid medium #ccc;
    font-family: monospace;
}

.menu a
{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    padding: 0.5em 2em;
    background-color: #feb;
}
.menu a:hover
{
    background-color: #fe9;
}
.menu a:active
{
    background-color: #fe7;
}

div.screenshot
{
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
}
div.screenshot img
{
    max-width: 70vw;
    max-height: 50vh;
}

.warning
{
    color: #f00;
}
.doc
{
    width: 100%;
    height: 800em;
}

.screenshot_thumbnail {
    height: 256px;
    display: inline-block;
}
.screenshot_area {
    text-align: center;
}

h2 {
    margin-top: 2em;
}


