

@import url('kunquat.css');

@media screen and (min-width: 60em) {

    @supports (display: grid) {

        body {
            display: grid;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-columns: 3fr 2fr;
            grid-template-areas:
                "title title"
                "menu menu"
                "main side";
            margin: 0 12%;
            padding: 0;
        }

        .title {
            grid-area: title;
            margin: 0;
        }

        .menu {
            grid-area: menu;
            margin: 0;
        }

        .side {
            grid-area: side;
            margin: 1.5em 1em 0 1em;
        }

        .main {
            grid-area: main;
            margin: 0.5em 0 0 1em;
        }

        .screenshot {
        }

        .screenshot img {
            max-width: 40vw;
        }

    }

}


